<%= form_for(@site, :html => { :id => :new_site_form }) do |f| %>

  <% if @site.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@site.errors.count, "error") %> prohibited this site from being saved:</h2>

      <ul>
      <% @site.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <!--
  <div class="field form-group">
    <%= f.label :referral, "Пригласительный код *" %><br>
    <%= f.text_field :referral, :class => "form-control" %>
  </div>
  -->

  <div class="field form-group">
    <%= f.label :title, "Название сайта" %><br>
    <%= f.text_field :title, :class => "form-control" %>
  </div>
  <div class="field form-group">
    <%= f.label :domain, "Домен*" %><br>
    <%= f.text_field :domain, :class => "form-control" %>
    <small> (например rusnod.ru или nstarikov.ru) </small>
  </div>

  <div class="field form-group">
    <%= check_box_tag :i_love_russia %> <%= label_tag :i_love_russia, "Я хочу, чтобы Россия была сильной и независимой страной" %><br />
    <%= check_box_tag :i_love_nod %> <%= label_tag :i_love_nod, "Я поддерживаю НОД" %><br />
  </div>

  <div class="actions">
    <%= f.submit "Зарегистрировать сайт!", :class => "btn btn-primary" %>
  </div>
<% end %>
