<h1>Установка кода счетчика</h1>
<ol class="breadcrumb">
  <li><%= link_to @site.title || @site.domain, site_path(@site) %></li>
  <li><%= link_to "Выбор внешнего вида счетчика", site_path(@site) %></li>
  <li class="active">получение кода</li>
</ol>


Счетчик будет выглядеть так: <br /> 
<br />
<% if params[:type].to_i == 0 %>
  (пусто)
<% else %>
  <%= image_tag image_path("banners/examples/banner_#{params[:type]}.gif") %>
<% end %>
<br />
<br />
<br />

<div class="bs-example bs-example-tabs">
  <ul id="myTab" class="nav nav-tabs">
    <li class="active"><a href="#js_code" data-toggle="tab">Javascript (рекомендуется)</a></li>
    <li><a href="#html_code" data-toggle="tab">Html (для ЖЖ)</a></li>
  </ul>
  <div id="myTabContent" class="tab-content">
    <div class="tab-pane fade in active" id="js_code">
<p>
  <textarea style="width: 100%" rows=6>
<!-- Участник рейтинга сайтов НОД http://nodtop.russianpulse.ru/ -->
<!-- Код для сайта <%= @site.domain %> -->
<span id="nodtop_counter_container"></span>
 <script>
   window.nodtop_cnt = {
     id: "<%= @site.counter_id %>",
     container_id: "nodtop_counter_container",
     type: <%= params[:type] %>
   }
</script>
<script src="//sergio-fry.github.io/nodtop-counter-site/counter/v1/cnt.js" defer="defer"></script>
  </textarea>
</p>
    </div>
    <div class="tab-pane fade" id="html_code">
      <p>
  <textarea  style="width: 100%" rows=6>
<!-- Участник рейтинга сайтов НОД http://nodtop.russianpulse.ru/ -->
<!-- Код для сайта <%= @site.domain %> -->
<img src="//goo.gl/<%= @site.counter_id %>" width="1px" height="1px" />
<% if [1, 2].include? params[:type].to_i %>
<a href='//nodtop.russianpulse.ru#s=<%= @site.domain %>' target='_blank' title='Участник рейтинга сайтов НОД'><img src='//s3.amazonaws.com/nodtop-store/banners/<%= @site.counter_id %>/banner_<%= params[:type] %>.gif' alt='Рейтинг сайтов НОД' width='82' height='15' /></a>
<% elsif [3, 4].include? params[:type].to_i %>
<a href='//nodtop.russianpulse.ru#s=<%= @site.domain %>' target='_blank' title='Участник рейтинга сайтов НОД'><img src='//s3.amazonaws.com/nodtop-store/banners/banner_<%= params[:type] %>.gif' alt='Рейтинг сайтов НОД' width='82' height='15' /></a>
<% end %>
  </textarea>
</p>
    </div>
  </div>
</div>
<p class="help-block">Вставьте этот код в HTML текст вашего сайта там, где хотите, чтобы отображался счетчик</p>

<br />
<br />
<%= render :partial => 'comments' %>
