<p class="well">Мы — сторонники <a href="http://rusnod.ru/top3.html" target="_blank">национально-освободительного движения</a> (НОД)</p>

<table class="table table-striped table-hover sites-table">
  <thead>
    <tr>
      <th></th>
      <th width="100%">Сайт</th>
      <th></th>
      <th>Рейтинг</th>
      <th>%&nbsp;НОД</th>
    </tr>
  </thead>

  <tbody>
  <% @sites.popular.each_with_index do |site, index| %>
    <tr class="site" data-rating="<%= site.rating %>">
      <td class="rank"><%= index + 1 %></td>
      <td class="title">

        <span class="favicon">
          <img alt="" height="16" onError="this.onerror=null;$(this).replaceWith(&quot;&lt;span class=&#39;glyphicon glyphicon-new-window&#39;&gt;&lt;/span&gt;&quot;);" src="//<%= site.domain %>/favicon.ico" width="16" />
        </span>
        <%= link_to (site.title.presence || site.domain), site.url, :target => "_blank" %>
      </td>
      <td class="show"><%= link_to content_tag(:span, nil, :class => "glyphicon glyphicon-stats", :title => "Получить код для вставки"), site %></td>
      <td><%= '%.2f' % site.rating %></td>
      <td class="share"></td>
    </tr>
  <% end %>
  </tbody>
</table>

