
<p>
  <strong>Сайт:</strong>
  <%= @site.title.presence || @site.domain %>
</p>

<p>
  <strong>Домен:</strong>
  <%= @site.domain %>
</p>

<p>
  <strong>Рейтинг:</strong>
  <%= @site.rating %>
</p>

<p>
  <strong>Код для вставки (георгиевская лента + счетчик):</strong><br />

  <textarea cols="80" rows=6>
<!-- Участник рейтинга сайтов НОД http://nodtop.russianpulse.ru/ -->
<script src="http://nodtop.russianpulse.ru/counter.js"></script>
<script>NODTop.init({ counter_id: "<%= @site.counter_id %>" });</script>
  </textarea>

  <br /><small>Примечание: нужно вставить этот код перед закрытием тега body</small>
  <br /><small>Примечание: этот код подходит только для сайта '<%= @site.domain %>'</small>
</p>
