
<h1><%= @site.title.presence || @site.domain %></h1>
<p>
  <strong>Домен:</strong>
  <%= @site.domain %>
</p>

<p>
  <div class="bs-example bs-example-tabs">
    <ul id="myTab" class="nav nav-tabs">
      <li class="active"><a href="#tab_rating" data-toggle="tab">Рейтинг: <%= @site.rating %></a></li>
      <li><a href="#tab_rank" data-toggle="tab">Позиция в рейтинге: <%= @site.rank %></a></li>
      <li><a href="#tab_share" data-toggle="tab"><%= (@site.share * 100).round(2) %>% НОД</a></li>
    </ul>
    <div id="myTabContent" class="tab-content">
      <div class="tab-pane active" id="tab_rating">
        <%= metric_graph(Metric.find_by(:key => "Site:#{@site.id}:rating"), "Рейтинг #{@site.domain}") %>
      </div>
      <div class="tab-pane" id="tab_rank">
        <%= metric_graph(Metric.find_by(:key => "Site:#{@site.id}:rank"), "Позиция в рейтинге #{@site.domain}") %>
      </div>
      <div class="tab-pane" id="tab_share">
        <%= metric_graph(Metric.find_by(:key => "Site:#{@site.id}:share"), "Доля в НОД #{@site.domain}") %>
      </div>
    </div>
  </div>
</p>

<%= javascript_tag do %>
  $('#myTab a').click(function (e) {
    e.preventDefault()
    $(this).tab('show')

    var tab = $(this);
    setTimeout(function() {
      $($(tab).attr("href")).find(".dygraph_container").data("dygraph").resize();
    }, 50 );

  })
<% end %>

<br />

<% if @site.rating <= 0 %>
  <div class="alert alert-warning">
    Пока у сайта нет показов. Такое может быть по нескольким причинам:
    <ol>
      <li>Вы не установили счетчик на сайт</li>
      <li>Счетчик был установлен неправильно</li>
      <li>На ваш никто не заходил целую неделю (мы в это не верим)</li>
    </ol>
  </div>
<% end %>

<div class="panel-group" id="accordion-banners">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion-banners" href="#collapseBanners">
          Установка счетчика
        </a>
      </h4>
    </div>
    <div id="collapseBanners" class="panel-collapse <%= @site.rating > 0 ? "collapse" : "" %>">
      <div class="panel-body">

        <%= form_tag(url_for(:action => :counter_code), { :method => :get }) do %>

          <div class="row">
          <div class="col-md-4">
            <%= radio_button_tag :type, 1, true %>
            <%= label_tag :type_1 do %>
              <%= image_tag(image_path("banners/examples/banner_1.gif")) %>
          <% end %>
            (рекомендуется)
          </div>
          <div class="col-md-4">
            <%= radio_button_tag :type, 2 %>
            <%= label_tag :type_2 do %>
              <%= image_tag image_path("banners/examples/banner_2.gif") %>
          <% end %>
          </div>
          <div class="col-md-4">
            <%= radio_button_tag :type, 3 %>
            <%= label_tag :type_3 do %>
              <%= image_tag image_path("banners/examples/banner_3.gif") %>
          <% end %>
          </div>
          <div class="col-md-4">
            <%= radio_button_tag :type, 4 %>
            <%= label_tag :type_4 do %>
              <%= image_tag image_path("banners/examples/banner_4.gif") %>
          <% end %>
          </div>
          <div class="col-md-4">
            <%= radio_button_tag :type, 0 %> <%= label_tag :type_0, "Невидимый" %> <br />
          </div>
        </div>
        <br />
        <br />
        <%= submit_tag "Получить код", :class => "btn btn-primary" %>
      <% end %>
      </div>
    </div>
  </div>
</div>

<br />
<br />
<%= render :partial => 'comments' %>
