
<p>
  <strong>Сайт:</strong>
  <%= @site.title.presence || @site.domain %>
</p>

<p>
  <strong>Домен:</strong>
  <%= @site.domain %>
</p>

<p>
  <strong>Рейтинг:</strong>
  <%= @site.rating %>
</p>

<p>
  <strong>Код для вставки (георгиевская лента + счетчик):</strong><br />

  <textarea cols="80" rows=6>
    <!-- Участник рейтинга сайтов НОД http://nodtop.russianpulse.ru/ -->
    <span id="nodtop_counter_container"></span>
     <script>
       window.nodtop_cnt = {
         id: "<%= @site.counter_id %>",
         container_id: "nodtop_counter_container",
         type: 1 // 0 - невидимый, 1 - маленький баннер
       }
    </script>
    <script src="//sergio-fry.github.io/nodtop-counter-site/counter/v1/cnt.js" defer="defer"></script>

  </textarea>

  <br /><small>Примечание: этот код подходит только для сайта '<%= @site.domain %>'</small>
</p>
