<!DOCTYPE html>
<html lang="ru">
<head>
  <title>Рейтинг сайтов НОД</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag "http://yandex.st/bootstrap/3.0.3/css/bootstrap.min.css" %>

  <!-- sharethis -->
  <script type="text/javascript">var switchTo5x=true;</script>
  <script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
  <script type="text/javascript">stLight.options({publisher: "129c50e2-8f7a-4ac9-a044-4d034c32a286", doNotHash: false, doNotCopy: false, hashAddressBar: false});</script>

  <!-- правка стиля, который испортил bootstrap (http://stackoverflow.com/questions/18165901/twitters-bootstrap-3-with-sharethis-widget) -->
  <style>
    #sharethis span
    {
      -webkit-box-sizing: content-box;
      -moz-box-sizing: content-box;
      box-sizing: content-box;
    }
  </style>
  <!-- sharethis -->

  <%= render :partial => 'shared/social_share' %>
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div class="logo"><%= link_to_unless_current "Рейтинг сайтов НОД", root_path %></div>
        <hr />

        <%= yield %>

        <hr />
        <div class="footer">

          2014 &copy; <%= link_to "Рейтинг сайтов НОД", root_path %>

          <%= link_to "О сайте", url_for(:controller => :pages, :action => :about) %>
          <%= link_to "Автор", "http://www.sergei-udalov.ru", :target => "_blank" %>
        </div>

        <br />
        <br />
        <div style='text-align: center; width: 100%' id="sharethis">
          <span class='st_vkontakte_hcount' displayText='Vkontakte'></span>
          <span class='st_odnoklassniki_hcount' displayText='Odnoklassniki'></span>
          <span class='st_facebook_hcount' displayText='Facebook'></span>
          <span class='st_twitter_hcount' displayText='Tweet'></span>
          <span class='st_plusone_hcount' displayText='Google +1'></span>
        </div>
      </div>
    </div>
  </div>

  <%= javascript_include_tag "http://yandex.st/bootstrap/3.0.3/js/bootstrap.min.js" %>
  <%= javascript_include_tag "http://yandex.st/underscore/1.5.2/underscore-min.js" %>

  <!-- Участник рейтинга сайтов НОД http://nodtop.russianpulse.ru/ -->
  <script src="http://nodtop.russianpulse.ru/counter.js"></script>
  <script>NODTop.init({ counter_id: "FGjBAO" });</script>
</body>
</html>
